.git
.github
.vscode
.idea
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.env
.env.backup
.env.production
database/database.sqlite
*.log
.DS_Store
